{% extends "base.html" %}
{% block extrahead %}
    {% set title = config.site_name %}
    {% if page and page.meta and page.meta.title %}
        {% set title = title ~ " - " ~ page.meta.title %}
    {% elif page and page.title and not page.is_homepage %}
        {% set title = title ~ " - " ~ page.title | striptags %}
    {% endif %}

    <!--- Social Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="https://thethales.github.io/guararema" />
    <meta name="twitter:creator" content="@umThalesAqui" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ config.site_description }}" />
    <meta name="twitter:image" content="https://thethales.github.io/guararema/img/capa.png" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ config.site_description }}" />
    <meta property="og:url" content="{{ page.canonical_url }}" />
    <meta property="og:image" content="https://thethales.github.io/guararema/img/capa.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="350">
    <meta property="og:image:height" content="200">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKJSY3ME1K"></script>
{% endblock %}

